In [26]:
import xml.etree.ElementTree as ET
from pandas import DataFrame
import pandas as pd
import os
import numpy

In [27]:
def namedic(file):
    tree = ET.parse(file)
    root = tree.getroot()
    
    list = []
    for meta in root.findall('meta'):
        name = meta.find('name').text
    list = [name]
    
    return(list)
    
#namedic('pta_10.xml')

rootdir = 'xml'
list = os.listdir(rootdir)

colum_1 = []  #source colum
colum_2 = []  #target colum
for i in range(0,len(list)):                # reading path of each agreement one by one 
    path = os.path.join(rootdir,list[i])
    name = namedic(path)[0]
    #print(name)
    colum = name.split('-')
    #print(colum)
    colum_1.append(colum[0])
    if len(colum) == 1:
        colum_2.append(colum[0])
    else:
        colum_2.append(colum[1])
    
#colum_2

In [28]:
edge1 = pd.DataFrame(colum_1,columns = ['Source'])
#node
edge2 = pd.DataFrame(colum_2,columns = ['Target'])
#edge


df_edges = pd.concat([edge1,edge2],axis=1)
#df_edges

os.getcwd()
df_edges.to_csv('edges.csv')

In [29]:
names = colum_1 + colum_2
#names
names = set(names)
name=[]
for i in names:
    if i not in name:
        name.append(i)
    else:
        pass
#name

df_nodes = pd.DataFrame(name,columns = ['lable'])
#df_name

os.getcwd()
df_nodes.to_csv('nodes.csv')

In [30]:
def regiondic(file):
    tree = ET.parse(file)
    root = tree.getroot()
    
    list = []
    for meta in root.findall('meta'):
        region = meta.find('region').text
    list = [region]
    
    return(list)
    
#regiondic('pta_1.xml')

rootdir = 'xml'
list = os.listdir(rootdir)

colum_3 = []
for i in range(0,len(list)):                # reading path of each agreement one by one 
    path = os.path.join(rootdir,list[i])
    regions = regiondic(path)[0]
    #print(region)
    colum_3.append(regions)
    
#colum_3

df_region = pd.DataFrame(colum_3,columns = ['Region Category'])
#df_region

df_attribute1 = pd.concat([df_edges,df_region],axis=1)
#df_attribute1

df_attribute1.set_index('Source',inplace = True)
#df_attribute1
os.getcwd()
df_attribute1.to_csv('attribute1.csv')

In [48]:
def timedic(file):
    tree = ET.parse(file)
    root = tree.getroot()
    
    list = []
    for meta in root.findall('meta'):
        time = meta.find('date_signed').text
    list = [time]
    
    return(list)

#timedic('pta_1.xml')


rootdir = 'xml'
list = os.listdir(rootdir)

colum_4 = []
for i in range(0,len(list)):                # reading path of each agreement one by one 
    path = os.path.join(rootdir,list[i])
    date = timedic(path)[0]
    #print(region)
    colum_4.append(date)    

#colum_4

year = pd.DataFrame(colum_4,columns = ['year'])
date = year['year']
#year
#year.loc[0,'year']
i = 0
for y in date:
    #print(y)
    #print(y[0:4])
    year.loc[i,'year'] = y[0:4]
    i +=1
year

     year
0    2007
1    2006
2    1991
3    1996
4    1997
5    1996
6    1996
7    1992
8    1992
9    1994
10   1992
11   1995
12   2006
13   1957
14   1993
15   1992
16   1993
17   1992
18   1992
19   1987
20   2003
21   1991
22   1991
23   2004
24   1991
25   1985
26   1982
27   1980
28   1980
29   1977
..    ...
420  2000
421  1995
422  1996
423  1997
424  1994
425  1996
426  1995
427  2000
428  2005
429  1999
430  1994
431  1999
432  1996
433  1995
434  1999
435  1994
436  1997
437  1994
438  1993
439  2005
440  1994
441  1995
442  1998
443  1995
444  1992
445  1995
446  1996
447  1996
448  1995
449  1996

[450 rows x 1 columns]